Repository slimphp/Slim, pull requests merged in 2019-04, with the labels that each got.

#2625 Remove references to unused EnvironmentInterface
  Slim/Container.php
  Slim/DefaultServicesProvider.php
Labels: Slim 3

#2631 3.12.1 Release
  Slim/App.php
Labels: Slim 3

#2635 Quality improvements
  Slim/App.php
  Slim/Error/Renderers/HtmlErrorRenderer.php
  Slim/Error/Renderers/PlainTextErrorRenderer.php
  Slim/Error/Renderers/XmlErrorRenderer.php
  Slim/Handlers/ErrorHandler.php
  Slim/Interfaces/RouteCollectorInterface.php
  Slim/Interfaces/RouteInterface.php
  Slim/Middleware/OutputBufferingMiddleware.php
  Slim/MiddlewareDispatcher.php
  Slim/ResponseEmitter.php
  Slim/Routing/Dispatcher.php
  Slim/Routing/Route.php
  Slim/Routing/RouteCollector.php
  Slim/Routing/RouteResolver.php
  composer.json
  tests/Routing/RouteCollectorTest.php
Labels: Slim 4

#2636 Add MAINTAINERS document to 4.x branch
  MAINTAINERS.md
Labels: Slim 4

#2638 4.x - Port RouteCollector::fullUrlFor()
  Slim/Interfaces/RouteCollectorInterface.php
  Slim/Routing/RouteCollector.php
  tests/Routing/RouteCollectorTest.php
Labels: Slim 4

#2639 4.x - Decouple FastRoute Dispatcher From RouteResolver
  CHANGELOG.md
  Slim/Interfaces/DispatcherInterface.php
  Slim/Interfaces/RouteCollectorInterface.php
  Slim/Middleware/RoutingMiddleware.php
  Slim/Routing/Dispatcher.php
  Slim/Routing/FastRouteDispatcher.php
  Slim/Routing/RouteResolver.php
  Slim/Routing/RoutingResults.php
  tests/Routing/DispatcherTest.php
  tests/Routing/FastRouteDispatcherTest.php
  tests/Routing/RouteResolverTest.php
Labels: Slim 4

#2640 4.x - Decouple FastRoute RouteParser
  CHANGELOG.md
  Slim/Interfaces/DispatcherInterface.php
  Slim/Interfaces/RouteCollectorInterface.php
  Slim/Interfaces/RouteParserInterface.php
  Slim/Routing/RouteCollector.php
  Slim/Routing/RouteParser.php
  tests/Routing/RouteCollectorTest.php
  tests/Routing/RouteParserTest.php
Labels: Slim 4

#2641 4.x - RouteCollectorProxy
  CHANGELOG.md
  Slim/App.php
  Slim/Interfaces/RouteCollectorInterface.php
  Slim/Interfaces/RouteCollectorProxyInterface.php
  Slim/Interfaces/RouteGroupInterface.php
  Slim/Routing/RouteCollector.php
  Slim/Routing/RouteCollectorProxy.php
  Slim/Routing/RouteGroup.php
  tests/AppTest.php
  tests/Routing/RouteCollectorTest.php
  tests/Routing/RouteTest.php
Labels: Slim 4

#2642 4.x - Refactor RouteCollectorProxy
  Slim/Routing/RouteCollectorProxy.php
  tests/AppTest.php
  tests/Middleware/ErrorMiddlewareTest.php
  tests/Middleware/MethodOverrideMiddlewareTest.php
  tests/Middleware/OutputBufferingMiddlewareTest.php
  tests/Mocks/CallableTest.php
  tests/Mocks/InvocationStrategyTest.php
  tests/Mocks/InvokableTest.php
  tests/Mocks/MockAction.php
  tests/Mocks/MockCustomException.php
  tests/Mocks/MockErrorHandler.php
  tests/Mocks/MockErrorRenderer.php
  tests/Mocks/MockMiddleware.php
  tests/Mocks/MockMiddlewareWithoutConstructor.php
  tests/Mocks/MockMiddlewareWithoutInterface.php
  tests/Mocks/MockRequestHandler.php
  tests/Mocks/MockSequenceMiddleware.php
  tests/Mocks/MockStream.php
  tests/Mocks/RequestHandlerTest.php
  tests/Mocks/SmallChunksStream.php
  tests/Mocks/StaticCallable.php
  tests/ResponseEmitterTest.php
  tests/Routing/FastRouteDispatcherTest.php
  tests/Routing/RouteCollectorProxyTest.php
  tests/Routing/RouteParserTest.php
  tests/TestCase.php
Labels: Slim 4

#2643 4.x - Code Quality
  Slim/App.php
  Slim/DeferredCallable.php
  Slim/Exception/HttpException.php
  Slim/Exception/HttpSpecializedException.php
  Slim/Handlers/ErrorHandler.php
  Slim/Interfaces/CallableResolverInterface.php
  Slim/Interfaces/ErrorHandlerInterface.php
  Slim/Interfaces/ErrorRendererInterface.php
  Slim/Interfaces/RouteParserInterface.php
  Slim/Middleware/ContentLengthMiddleware.php
  Slim/Middleware/ErrorMiddleware.php
  Slim/Middleware/MethodOverrideMiddleware.php
  Slim/Middleware/OutputBufferingMiddleware.php
  Slim/Middleware/RoutingMiddleware.php
  Slim/MiddlewareDispatcher.php
  Slim/ResponseEmitter.php
  Slim/Routing/Dispatcher.php
  Slim/Routing/Route.php
  Slim/Routing/RouteCollector.php
  Slim/Routing/RouteCollectorProxy.php
  Slim/Routing/RouteGroup.php
  Slim/Routing/RouteParser.php
  Slim/Routing/RouteResolver.php
  Slim/Routing/RoutingResults.php
Labels: Slim 4

#2644 4.x - Inject Container Inside Middleware
  Slim/MiddlewareDispatcher.php
  tests/MiddlewareDispatcherTest.php
  tests/Mocks/MockMiddlewareWithConstructor.php
Labels: Slim 4

#2645 4.x - Update Dependencies & Add Coverage Directory
  .gitignore
  Slim/Handlers/ErrorHandler.php
  Slim/Interfaces/InvocationStrategyInterface.php
  composer.json
  phpstan.neon.dist
  phpunit.xml.dist
Labels: Slim 4

#2646 4.x - App Factory & ServerRequest Creator Auto-Detection
  CHANGELOG.md
  README.md
  Slim/App.php
  Slim/Factory/AppFactory.php
  Slim/Factory/Psr17/GuzzlePsr17Factory.php
  Slim/Factory/Psr17/NyholmPsr17Factory.php
  Slim/Factory/Psr17/Psr17Factory.php
  Slim/Factory/Psr17/ServerRequestCreator.php
  Slim/Factory/Psr17/SlimPsr17Factory.php
  Slim/Factory/Psr17/ZendDiactorosPsr17Factory.php
  Slim/Factory/ServerRequestCreatorFactory.php
  Slim/Interfaces/Psr17FactoryInterface.php
  Slim/Interfaces/ServerRequestCreatorInterface.php
  composer.json
  tests/AppTest.php
  tests/Factory/AppFactoryTest.php
  tests/Factory/ServerRequestCreatorFactoryTest.php
Labels: Slim 4

#2647 4.x - Add ResponseFactory Getter To RouteCollectorProxyInterface
  Slim/Interfaces/RouteCollectorProxyInterface.php
  Slim/Routing/RouteCollectorProxy.php
  tests/Routing/RouteCollectorProxyTest.php
Labels: Slim 4

#2648 4.x - Code Quality
  Slim/App.php
  Slim/DeferredCallable.php
  Slim/Error/Renderers/HtmlErrorRenderer.php
  Slim/Error/Renderers/JsonErrorRenderer.php
  Slim/Error/Renderers/PlainTextErrorRenderer.php
  Slim/Error/Renderers/XmlErrorRenderer.php
  Slim/Exception/HttpException.php
  Slim/Exception/HttpSpecializedException.php
  Slim/Factory/AppFactory.php
  Slim/Factory/Psr17/ServerRequestCreator.php
  Slim/Factory/ServerRequestCreatorFactory.php
  Slim/Handlers/ErrorHandler.php
  Slim/Interfaces/DispatcherInterface.php
  Slim/Interfaces/ErrorHandlerInterface.php
  Slim/Interfaces/ErrorRendererInterface.php
  Slim/Interfaces/InvocationStrategyInterface.php
  Slim/Interfaces/RouteCollectorInterface.php
  Slim/Interfaces/RouteCollectorProxyInterface.php
  Slim/Interfaces/RouteInterface.php
  Slim/Interfaces/RouteParserInterface.php
  Slim/Middleware/ContentLengthMiddleware.php
  Slim/Middleware/ErrorMiddleware.php
  Slim/Middleware/MethodOverrideMiddleware.php
  Slim/Middleware/OutputBufferingMiddleware.php
  Slim/Middleware/RoutingMiddleware.php
  Slim/MiddlewareDispatcher.php
  Slim/ResponseEmitter.php
  Slim/Routing/Dispatcher.php
  Slim/Routing/Route.php
  Slim/Routing/RouteCollector.php
  Slim/Routing/RouteCollectorProxy.php
  Slim/Routing/RouteGroup.php
  Slim/Routing/RouteResolver.php
  Slim/Routing/RoutingResults.php
  tests/AppTest.php
  tests/Assets/PhpFunctionOverrides.php
  tests/CallableResolverTest.php
  tests/Error/AbstractErrorRendererTest.php
  tests/Handlers/ErrorHandlerTest.php
  tests/Mocks/InvocationStrategyTest.php
  tests/Mocks/MockErrorRenderer.php
  tests/Mocks/MockMiddlewareWithoutConstructor.php
  tests/Mocks/RequestHandlerTest.php
  tests/Providers/PSR7ObjectProvider.php
  tests/Providers/PSR7ObjectProviderInterface.php
  tests/ResponseEmitterTest.php
  tests/Routing/FastRouteDispatcherTest.php
  tests/Routing/RouteRunnerTest.php
  tests/Routing/RouteTest.php
  tests/TestCase.php
Labels: Slim 4

#2649 4.x - Update UPGRADING guide and CHANGELOG
  CHANGELOG.md
  UPGRADING.md
Labels: Slim 4

#2651 4.x - Add Default Constructor Argument Setters To AppFactory
  Slim/Factory/AppFactory.php
  Slim/Factory/ServerRequestCreatorFactory.php
  tests/Factory/AppFactoryTest.php
  tests/Factory/ServerRequestCreatorFactoryTest.php
Labels: Slim 4

#2493 Rewrite Router->urlFor() to generate complete Urls
  Slim/Router.php
  tests/RouterTest.php
Labels: Slim 3, Slim 4, discussion

#2652 4.x - Fix For RouteCollector::group() Nesting Bug
  Slim/Interfaces/RouteCollectorProxyInterface.php
  Slim/Routing/RouteCollector.php
  Slim/Routing/RouteCollectorProxy.php
  phpunit.xml.dist
  tests/AppTest.php
Labels: Slim 4

#2633 Add type check for $headers
  Slim/Http/Headers.php
  composer.json
  tests/Assets/PhpHttpFunctionOverrides.php
  tests/Http/HeadersTest.php
Labels: Slim 3

#2654 4.x - Remove pathFor() and rename relativePathFor() with relativeUrlFor()
  CHANGELOG.md
  Slim/Interfaces/RouteParserInterface.php
  Slim/Routing/RouteParser.php
  UPGRADING.md
  tests/Routing/RouteParserTest.php
Labels: Slim 4

#2659 Check that the property uri is a Uri instance
  Slim/Http/Request.php
  tests/Http/RequestTest.php
Labels: Slim 3

#2661 Test case testMoveToStream implemented
  tests/Http/UploadedFilesTest.php
Labels: Slim 3

#2663 Add required php extensions
  composer.json
Labels: Slim 3

#2664 Fix typo
  Slim/Interfaces/InvocationStrategyInterface.php
Labels: Slim 3

#2504 WiP: Non buffered body
  Slim/Http/NonBufferedBody.php
  Slim/Http/Response.php
  tests/Http/NonBufferedBodyTest.php
Labels: Slim 3

#2673 non-buffered responses fixes
  Slim/Http/Message.php
  Slim/Http/Response.php
  composer.json
  tests/Assets/HeaderStack.php
  tests/Assets/PhpHttpFunctionOverrides.php
  tests/Http/NonBufferedBodyTest.php
  tests/bootstrap.php
Labels: Slim 3
